body, html, .container-fluid, .sidebar, .body {
    height: 100%;
    min-height: 100%;
    color: #FFFFFF;
}

.content-wrapper{
    position: fixed;
    height: calc(100% - 52px);
}

.sidebar {
    background-color:#1D1D1D;
    width: 300px;
    height: calc(100% - 52px);
    overflow-y: auto;
    position: relative;
}

.main-content {
    background-color:#272822;
    width: calc(100% - 300px);
    height: calc(100% - 52px);
    right:0px;
    overflow-v:
    scroll;
    position: fixed;
}

.appitem {
    width: 100%;
    overflow: auto;
    color: #9DA087;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.selected {
	background-color:#3B3C35;
	color:#F2F5D2;
}

.appitem:hover {
    background-color: #2D2E28;
}

.selected:hover{
	background-color:#3B3C35;
}

.appscreen {
    width: 64px;
    height: 64px;
    float:left;
    margin-right: 18px;
    image-rendering: pixelated;
}

.apptitle{
    margin-top: 12px;
    font-weight: bold;
    font-size: 16px;
}

.appshortname {
    font-family: monospace;
}

.modified .appshortname {
	font-style: italic;
}

.editor {
    width: 100%;
    height: 100%;
}

.CodeMirror {
    position: relative;
    width: 100%;
    height: 1000px;
}