body, html, .container-fluid, .sidebar, .body {
    height: 100%;
    min-height: 100%;
    color: #FFFFFF;
}

.content-wrapper{
    position: fixed;
    height: calc(100% - 52px);
}

.sidebar {
    background-color:#1D1D1D;
    width: 300px;
    height: calc(100% - 52px);
    overflow-y: auto;
    position: relative;
}

.main-content {
    background-color:#272822;
    height: calc(100% - 52px);
    left:300px;
    position: fixed;
}

.compiler .main-content {
	width: calc((100% - 300px) / 2);    
}

.nocompiler .main-content {
	width: calc((100% - 300px));    
}

.compiler .compiler-wrapper {
	
}

.nocompiler .compiler-wrapper {
	display:none;
}

.compiler-wrapper  {
	background-color:#130000;
	width: calc((100% - 300px) / 2);
    height: calc(100% - 52px);
    right:0px;
    position: fixed;
}

.compiler-headline {
	background-color:#590000;
	width: 100%;
	padding:15px;
	color:#E9E9E9;
	font-weight: bold;
}
	
#compilerText {
	height: calc(100% - 50px);
	font-family: monospace;	
    overflow-y: auto;	
	padding: 5px;
    font-size: 13px;
	line-height: 180%;
	white-space: pre-wrap;
}

#btnHideCompiler {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 18px;
	text-decoration: none;	
    cursor: pointer;
}
#btnHideCompiler:hover {
	background-color:rgba(0, 0, 0, 0.7);
}

.appitem {
    width: 100%;
    overflow: auto;
    color: #9DA087;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.selected {
	background-color:#3B3C35;
	color:#F2F5D2;
}

.appitem:hover {
    background-color: #2D2E28;
}

.selected:hover{
	background-color:#3B3C35;
}

.appscreen {
    width: 64px;
    height: 64px;
    float:left;
    margin-right: 18px;
    image-rendering: pixelated;
}

.apptitle{
    margin-top: 12px;
    font-weight: bold;
    font-size: 16px;
}

.appshortname {
    font-family: monospace;
}

.modified .appshortname {
	font-style: italic;
}

.editor {
    width: 100%;
    height: 100%;
}

.CodeMirror {
    position: relative;
    width: 100%;
    height: 1000px;
}

.navbar-brand {
	background-image: url(logo.png);
	background-repeat: no-repeat;
	padding-left: 60px;
}

.dialog-wrapper {
	position: fixed;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	margin-top: 50px;
	
}

.panel {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.form-table td{
	padding: 10px;
}